/* menu mobile */

.menu-mobile {
    width: 280px;
    padding-top: 24px;

    position: absolute;
    top: 64px;

    border: 1px solid rgb(212, 212, 212);
    background-color: white;

    z-index: 1;


}

.menu-mobile a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;


}

.menu-mobile h2 {
    margin-bottom: 40px;
    padding-left: 40px;
}

.menu-mobile ul {
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin-bottom: 48px;


}


.menu-mobile ul li {
    height: 60px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}


.info-account li {
    color: var(--very-light-pink);
    margin-bottom: 12px;
    font-size: var(--sm);
}

.info-account li a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.hover:hover {
    background-color: #eefcf1;
}